{% extends 'web/base.html' %}
{% load humanize toolbox_tags %}
{% load render_table from django_tables2 %}
{% load nvd3_tags %}





{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

     <h2>The data cubes of features: {{feature_name}}</h2>

       {% render_table data_cube %}


       <br/><br/><br/>

       {% include_chart_jscss %}
       {% load_chart charttype chartdata chartcontainer extra %}
       {% include_container chartcontainer height width %}
       <h4>{{feature_name}}</h4>

{% endblock %}
